
<!DOCTYPE html>
<html lang="en" xmlns:height="http://www.w3.org/1999/xhtml">
<head>

    <!-- Basic page needs
    ============================================ -->
    <title>病了么-修改药品</title>
    <meta charset="utf-8">
    <meta name="keywords" content="administrator,grounding" />
    <meta name="description" content="Administrator ground the medicine." />
    <meta name="author" content="Gorma">
    <meta name="robots" content="index, follow" />

    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon
    ============================================ -->

    <link rel="shortcut icon" type="image/png" href="../static/ico/favicon-16x16.png"/>


    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/bootstrap/css/bootstrap.min.css">
    <link href="../static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="../static/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="../static/css/themecss/lib.css" rel="stylesheet">
    <link href="../static/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="../static/js/minicolors/miniColors.css" rel="stylesheet">

    <!-- Theme CSS
    ============================================ -->
    <link href="../static/css/themecss/so_searchpro.css" rel="stylesheet">
    <link href="../static/css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="../static/css/themecss/so-categories.css" rel="stylesheet">
    <link href="../static/css/themecss/so-listing-tabs.css" rel="stylesheet">
    <link href="../static/css/themecss/so-category-slider.css" rel="stylesheet">
    <link href="../static/css/themecss/so-newletter-popup.css" rel="stylesheet">

    <link href="../static/css/footer/footer1.css" rel="stylesheet">
    <link href="../static/css/header/header1.css" rel="stylesheet">
    <link id="color_scheme" href="../static/css/theme.css" rel="stylesheet">
    <link href="../static/css/responsive.css" rel="stylesheet">

     <!-- Google web fonts
    ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>
    <style type="text/css">
         body{font-family:'Poppins', sans-serif;}
    </style>

</head>

<body class="res layout-1">


    <div id="wrapper" class="wrapper-fluid banners-effect-5">


    <!-- Header Container  -->
    <header id="header" class=" typeheader-1">

        <!-- Header Top -->
        <div class="header-top hidden-compact">
            <div class="container">
                <div class="row">
                    <div class="header-top-left col-lg-7 col-md-8 col-sm-6 col-xs-4">
                        <div class="hidden-md hidden-sm hidden-xs welcome-msg">欢迎光临 病了么 哈工大医药店&nbsp&nbsp&nbsp&nbsp<span>身体是学习的本钱</span> </div>
                        <ul class="top-link list-inline hidden-lg ">
                            <li class="account" id="my_account">
                                <a href="#" title="My Account " class="btn-xs dropdown-toggle" data-toggle="dropdown"> <span class="hidden-xs">总价 </span>  <span class="fa fa-caret-down"></span>
                                </a>
                                <ul class="dropdown-menu ">

                                    <li><a href="register"><i class="fa fa-user"></i> 注册</a></li><!--注册-->
                                    <li><a href="login"><i class="fa fa-pencil-square-o"></i> 登陆</a></li><!--登陆-->

                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Header Top -->

        <!-- Header center -->
        <div class="header-middle">
            <div class="container">
                <div class="row">
                    <!-- Logo -->
                    <div class="navbar-logo col-lg-2 col-md-3 col-sm-4 col-xs-12">

                        <div class="logo"><a href=""><img src="../static/image/catalog/logo.png" title="Your Store" alt="Your Store"  /></a></div>

                    </div>
                    <!-- //end Logo -->


                    <!-- Search -->
                    <div class="col-lg-7 col-md-6 col-sm-5">
                        <div class="search-header-w">
                            <div class="icon-search hidden-lg hidden-md hidden-sm"><i class="fa fa-search"></i></div>

                            <div id="sosearchpro" class="sosearchpro-wrapper so-search ">

                                <form method="get" action="/admin_search/">

                                    <div id="search0" class="search input-group form-group">

                                        <input class="autosearch-input form-control" type="text" value="" size="50" autocomplete="off" placeholder="输入关键词." name="search">

                                        <button type="submit" class="button-search btn btn-primary" name="submit_search"><i class="fa fa-search"></i></button>

                                    </div>
                                    <input type="hidden" name="route" value=/admin_search/" />
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- //end Search -->
                    <div class="middle-right col-lg-3 col-md-3 col-sm-3">
                    </div>
                </div>

            </div>
        </div>
        <!-- //Header center -->

        <!-- Header Bottom -->
        <div class="header-bottom hidden-compact">
            <div class="container">
                <div class="row">

                    <div class="bottom1 menu-vertical col-lg-2 col-md-3 col-sm-3">
                        <div class="responsive so-megamenu megamenu-style-dev ">
                            <div class="so-vertical-menu ">
                                <nav class="navbar-default">

                                    <div class="container-megamenu vertical">
                                        <div id="menuHeading">
                                            <div class="megamenuToogle-wrapper">
                                                <div class="megamenuToogle-pattern">

                                                        <a href="/admin"> 返回首页</a>

                                                </div>
                                            </div>
                                        </div>

                                        <div  style="min-height: 37px" class="navbar-header">
                                            <button type="button" id="show-verticalmenu" data-toggle="collapse" class="navbar-toggle">
                                                <i class="fa fa-bars"></i>
                                                <span>  分类     </span>
                                            </button>
                                        </div>
                                        <div class="vertical-wrapper" >
                                            <span id="remove-verticalmenu" class="fa fa-times"></span>
                                            <div class="megamenu-pattern">
                                                <div class="container-mega">
                                                    <ul class="megamenu">
                                                        <li class="item-vertical  with-sub-menu hover">
                                                            <p class="close-menu"></p>
                                                            <a href="#" class="clearfix">
                                                                <img src="../static/image/catalog/menu/icons/ico10.png" alt="icon">
                                                                <span>清热解毒</span>
                                                            </a>

                                                        </li>
                                                        <li class="item-vertical">
                                                            <p class="close-menu"></p>
                                                            <a href="#" class="clearfix">
                                                                <img src="../static/image/catalog/menu/icons/ico1.png" alt="icon">
                                                                <span>外用</span>

                                                            </a>
                                                        </li>
                                                        <li class="item-vertical  style1 with-sub-menu hover">
                                                            <p class="close-menu"></p>
                                                            <a href="#" class="clearfix">
                                                                <span class="label"></span>
                                                                <img src="../static/image/catalog/menu/icons/ico9.png" alt="icon">
                                                                <span>中成药</span>
                                                            </a>
                                                        </li>
                                                        <li class="item-vertical with-sub-menu hover">
                                                            <p class="close-menu"></p>
                                                            <a href="#" class="clearfix">
                                                                 <img src="../static/image/catalog/menu/icons/ico7.png" alt="icon">
                                                                <span>肝胆肠胃</span>
                                                            </a>

                                                        </li>
                                                        <li class="item-vertical css-menu with-sub-menu hover">
                                                            <p class="close-menu"></p>
                                                            <a href="#" class="clearfix">

                                                                 <img src="../static/image/catalog/menu/icons/ico6.png" alt="icon">
                                                                <span>心脑血管</span>
                                                            </a>

                                                        </li>
                                                        <li class="item-vertical">
                                                            <p class="close-menu"></p>
                                                            <a href="#" class="clearfix">
                                                                 <img src="../static/image/catalog/menu/icons/ico5.png" alt="icon">
                                                                <span>处方药</span>

                                                            </a>
                                                        </li>
                                                        <li class="item-vertical">
                                                            <p class="close-menu"></p>
                                                            <a href="#" class="clearfix">
                                                                 <img src="../static/image/catalog/menu/icons/ico4.png" alt="icon">
                                                                <span>养生药品</span>
                                                            </a>
                                                        </li>
                                                        <li class="item-vertical">
                                                            <p class="close-menu"></p>
                                                            <a href="#" class="clearfix">
                                                                 <img src="../static/image/catalog/menu/icons/ico3.png" alt="icon">
                                                                <span>中药药材</span>
                                                            </a>
                                                        </li>
                                                        <li class="item-vertical" >
                                                            <p class="close-menu"></p>
                                                            <a href="#" class="clearfix">
                                                                <img src="../static/image/catalog/menu/icons/ico2.png" alt="icon">
                                                                <span>保健仪器</span>
                                                            </a>
                                                        </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </nav>
                            </div>
                        </div>

                    </div>

                    <!-- Main menu -->

                    </div>
                    <!-- //end Main menu -->

                    <div class="bottom3">
                        <div class="telephone hidden-xs hidden-sm hidden-md">
                            <ul class="blank">
                                <li><a href="#"><i class="fa fa-truck"></i>管理订单</a></li>
                                <li><a href="#"><i class="fa fa-phone-square"></i>欢迎管理员！</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
    </header>
    <!-- //Header Container  -->


	<!-- Main Container  -->
	<div class="main-container container">
		<ul class="breadcrumb">
			<li><a href="/admin"><i class="fa fa-home"></i></a></li>
			<li>修改药品</li>
		</ul>
		<div class="row">
			<!--Middle Part Start-->
			<div id="content" class="col-sm-9">
				<h2 class="title">修改药品</h2>
				<p>修改药品的详细信息。</p>
                <table class="table table-bordered table-hover">
                    <thead>
                     <tr>
                        <td class="text-center">药品图片</td>
                         <td class="text-center">是否删除</td>
                    </tr>
                    </thead>
                <tbody>
                    {% for img in imglist %}
                    <tr>
                        <td class="text-center">
                            <img width="85" class="img-thumbnail" alt="medicineimage" src="../static/image/medicine/{{ img.imgurl }}">
                        </td>
                        <td class="text-center">
                            <form action="/delete_image/" method="get">
                                <input type="hidden" value="{{ img.imgurl }}" name="imgUrl">
                                <input type="hidden" value="{{ img.mid }}" name="medicineId">
                                <input type="submit" width="200px" title="" class="btn btn-primary" value="删除">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
				<form method="post" action="/edit_medicine/" enctype="multipart/form-data" class="form-horizontal">
                    <div class="form-group">
						<label for="input-medicine-image" class="col-sm-2 control-label">上传图片</label>
						<div class="col-sm-10">
							 <input name="medicine_image" type="file" multiple="" class="image" accept=".jpg">
						</div>
					</div>
					<div class="form-group required">
						<label for="input-medicine-name" class="col-sm-2 control-label">药品名称</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="input-medicine-name"  name="medicine_name" value="{{ mname }}">
						</div>
					</div>
                    <div class="form-group required">
						<label for="input-medicine-pinyin" class="col-sm-2 control-label">汉语拼音</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="input-medicine-pinyin" name="medicine_pinyin" value="{{ mpinyin }}" >
						</div>
					</div>
					<div class="form-group required">
						<label for="input-medicine-category" class="col-sm-2 control-label">药品类别</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="input-medicine-category" name="medicine_category" value="{{ mclass }}">
						</div>
					</div>

					<div class="form-group required">
						<label for="input-medicine-brand" class="col-sm-2 control-label">品牌名称</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="input-medicine-brand" name="medicine_brand" value="{{ mgoodsname }}">
						</div>
					</div>
                    <div class="form-group required">
						<label for="input-medicine-component" class="col-sm-2 control-label">药品成分</label>
						<div class="col-sm-10">
                            <textarea  rows="5" cols="40" class="form-control" id="input-medicine-component" name="medicine_component">{{ mcomponent }}</textarea>
						</div>
					</div>
                    <div class="form-group required">
						<label for="input-medicine-character" class="col-sm-2 control-label">药品性状</label>
						<div class="col-sm-10">
                            <textarea  rows="5" cols="40" type="text" class="form-control" id="input-medicine-approvalnum" name="medicine_character">{{ mcharacter }}</textarea>
						</div>
					</div>
                    <div class="form-group required">
						<label for="input-medicine-function" class="col-sm-2 control-label">功能主治</label>
						<div class="col-sm-10">
                            <textarea  rows="5" cols="40" type="text" class="form-control" id="input-medicine-function" name="medicine_function">{{ mfunction }}</textarea>
						</div>
					</div>
                    <div class="form-group required">
						<label for="input-medicine_specification" class="col-sm-2 control-label">规　　格</label>
						<div class="col-sm-10">
                            <textarea  rows="3" cols="40" type="text" class="form-control" id="input-medicine-specification"  name="medicine_specification">{{ mspecification }}</textarea>
						</div>
					</div>
                     <div class="form-group required">
						<label for="input-medicine-usage" class="col-sm-2 control-label">用法用量</label>
						<div class="col-sm-10">
                            <textarea  rows="5" cols="40" type="text" class="form-control" id="input-medicine-usage"  name="medicine_usage">{{ musage }}</textarea>
						</div>
					</div>
                    <div class="form-group required">
						<label for="input-medicine-react" class="col-sm-2 control-label">不良反应</label>
						<div class="col-sm-10">
                            <textarea  rows="5" cols="40" type="text" class="form-control" id="input-medicine-react"  name="medicine_react">{{ mreact }}</textarea>
						</div>
					</div>
                    <div class="form-group required">
						<label for="input-medicine-contraindication" class="col-sm-2 control-label">禁　　忌</label>
						<div class="col-sm-10">
                            <textarea  rows="5" cols="40" type="text" class="form-control" id="input-medicine-contraindication" name="medicine_contraindication">{{ mcontraindication }}</textarea>
						</div>
					</div>
                    <div class="form-group required">
						<label for="input-medicine-attention" class="col-sm-2 control-label">注意事项</label>
						<div class="col-sm-10">
                            <textarea  rows="5" cols="40" type="text" class="form-control" id="input-medicine-attention" name="medicine_attention">{{ mattention }}</textarea>
						</div>
					</div>
                    <div class="form-group required">
						<label for="input-medicine-interaction" class="col-sm-2 control-label">药物相互作用</label>
						<div class="col-sm-10">
                            <textarea  rows="5" cols="40" type="text" class="form-control" id="input-medicine-interaction" name="medicine_interaction">{{ minteraction }}</textarea>
						</div>
					</div>
                    <div class="form-group required">
						<label for="input-medicine-storage" class="col-sm-2 control-label">储存方式</label>
						<div class="col-sm-10">
                            <textarea  rows="3" cols="40" type="text" class="form-control" id="input-medicine-storage" name="medicine_storage">{{ mstorage }}</textarea>
						</div>
					</div>
                    <div class="form-group required">
						<label for="input-medicine-package" class="col-sm-2 control-label">包　　装</label>
						<div class="col-sm-10">
                            <textarea  rows="3" cols="40" type="text" class="form-control" id="input-medicine-package" name="medicine_package">{{ mpacking }}</textarea>
						</div>
					</div>
                    <div class="form-group required">
						<label for="input-medicine-validterm" class="col-sm-2 control-label">保质期限</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="input-medicine-validterm" name="medicine_validterm" value="{{ mvalidterm }}">
						</div>
					</div>
                    <div class="form-group required">
						<label for="input-medicine-approvalnum" class="col-sm-2 control-label">批准文号</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="input-medicine-approvalnum" name="medicine_approvalnum" value="{{ mapprovalnum }}">
						</div>
					</div>
                    <div class="form-group required">
						<label for="input-medicine-manufacturer" class="col-sm-2 control-label">生产厂商</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="input-medicine-manufacturer" value="{{ mfacturer}}" name="medicine_manufacturer">
						</div>
					</div>
                    <div class="form-group required">
						<label for="input-medicine-price" class="col-sm-2 control-label">价格</label>
						<div class="col-sm-10">
                            <input type="text" size="5" width="20px" step="0.01" class="form-control" id="input-medicine-price" name="medicine_price" value="{{ mprice }}"  >
						</div>
					</div>
                    <div class="form-group required">
                        <label for="input-medicine-hide" class="col-sm-2 control-label">是否可见</label>
						<div class="col-sm-10">
							<select  class="form-control" id="input-medicine-hide" name="medicine_hide">
                                <option value = "可见">可见</option>
                                <option value = "隐藏">隐藏</option>
                            </select>
						</div>
					</div>
					<div class="buttons clearfix">
						<div class="pull-right">
							<input type="submit" href="/medicine_list/" class="btn btn-primary" value="提交" onclick="return check()">
						</div>
					</div>
				</form>
            <script>
                var name = document.getElementById("input-medicine-name")
                var pinyin = document.getElementById("input-medicine-pinyin")
                var category = document.getElementById("input-medicine-category")
                var brand = document.getElementById("input-medicine-brand")
                var component = document.getElementById("input-medicine-component")
                var character = document.getElementById("input-medicine-character")
                var functions = document.getElementById("input-medicine-function")
                var specification = document.getElementById("input-medicine-specification")
                var usage = document.getElementById("input-medicine-usage")
                var react = document.getElementById("medicint-react")
                var contraindication = document.getElementById("input-medicine-contraindication")
                var attention = document.getElementById("input-medicine-attention")
                var interaction = document.getElementById("input-medicine-interaction")
                var storage = document.getElementById("input-medicine-storage")
                var package = document.getElementById("input-medicine-package")
                var validterm = document.getElementById("input-medicine-validterm")
                var approvalnum = document.getElementById("input-medicine-approvalnum")
                var manufacturer = document.getElementById("input-medicine-manufacturer")
                var price = document.getElementById("input-medicine-price")
                var agree = document.getElementById("input-medicine-agree")

                function check() {
                    if (name.value == "" || pinyin.value == "" || category.value == "" || brand.value == "" || component.value == "" || character.value == "" || functions.value == "" || specification.value == "" || usage.value == "" ||
                        react.value == "" || contraindication.value == "" || attention.value == "" || interaction.value == "" || storage.value == "" || package.value == "" || validterm.value == "" || approvalnum.value == "" ||
                        manufacturer.value == "" || price.value == "") {
                        alert("请确认信息完整、准确且合法！")
                        return (false)
                    } else {
                    alert("提交成功！")
                    return (true)
                    }
                }
            </script>

			</div>
			</div>
			<!--Middle Part End-->
			<!--Right Part Start -->
			<aside class="col-sm-3 hidden-xs content-aside col-md-3" id="column-right">
				<h2 class="subtitle">平台管理</h2>
				<div class="list-group">
					<ul class="list-item">
						<li><a href="/grounding">上架药品</a>
						</li>
						<li><a href="/admin_orderlist">订单发货</a>
						</li>
					</ul>
				</div>
			</aside>
			<!--Right Part End -->
		</div>
	</div>
	<!-- //Main Container -->

    </div>



<!-- Include Libs & Plugins
	============================================ -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="../static/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="../static/js/slick-slider/slick.js"></script>
	<script type="text/javascript" src="../static/js/themejs/libs.js"></script>
	<script type="text/javascript" src="../static/js/unveil/jquery.unveil.js"></script>
	<script type="text/javascript" src="../static/js/countdown/jquery.countdown.min.js"></script>
	<script type="text/javascript" src="../static/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
	<script type="text/javascript" src="../static/js/datetimepicker/moment.js"></script>
	<script type="text/javascript" src="../static/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="../static/js/jquery-ui/jquery-ui.min.js"></script>


	<!-- Theme files
	============================================ -->


	<script type="text/javascript" src="../static/js/themejs/so_megamenu.js"></script>
	<script type="text/javascript" src="../static/js/themejs/addtocart.js"></script>
	<script type="text/javascript" src="../static/js/themejs/application.js"></script>
</body>
</html>
