<!DOCTYPE html>
 <html lang="en">
<head>

    <!-- Basic page needs
    ============================================ -->
    <title>SuperMarket - Multipurpose Responsive HTML5 Template</title>
    <meta charset="utf-8">
    <meta name="keywords" content="html5 template, best html5 template, best html template, html5 basic template, multipurpose html5 template, multipurpose html template, creative html templates, creative html5 templates" />
    <meta name="description" content="SuperMarket is a powerful Multi-purpose HTML5 Template with clean and user friendly design. It is definite a great starter for any eCommerce web project." />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />

    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon
    ============================================ -->
    <link rel="shortcut icon" type="../static/image/png" href="ico/favicon-16x16.png"/>


    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/bootstrap/css/bootstrap.min.css">
    <link href="../static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="../static/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="../static/css/themecss/lib.css" rel="stylesheet">
    <link href="../static/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="../static/js/minicolors/miniColors.css" rel="stylesheet">

    <!-- Theme CSS
    ============================================ -->
    <link href="../static/css/themecss/so_searchpro.css" rel="stylesheet">
    <link href="../static/css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="../static/css/themecss/so-categories.css" rel="stylesheet">
    <link href="../static/css/themecss/so-listing-tabs.css" rel="stylesheet">
    <link href="../static/css/themecss/so-category-slider.css" rel="stylesheet">
    <link href="../static/css/themecss/so-newletter-popup.css" rel="stylesheet">

    <link href="../static/css/footer/footer1.css" rel="stylesheet">
    <link href="../static/css/header/header1.css" rel="stylesheet">
    <link id="color_scheme" href="../static/css/theme.css" rel="stylesheet">
    <link href="../static/css/responsive.css" rel="stylesheet">

     <!-- Google web fonts
    ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>
    <style type="text/css">
         body{font-family:'Poppins', sans-serif;}
    </style>

</head>

 <body class="res layout-subpage">

     <div id="wrapper" class="wrapper-full ">
	<!-- Main Container  -->
	 <div class="main-container container">

		 <div class="row">
			 <!--Middle Part Start-->
			 <div id="content" class="col-md-12 col-sm-12">

				<div class="product-view row quickview-w">
					<div class="left-content-product">

						<div class="content-product-left class-honizol col-md-5 col-sm-12 col-xs-12">
							<div class="large-image  ">
								<img itemprop="image" class="product-image-zoom" src="../static/image/medicine/b_1_1.jpg" data-zoom-image="../static/image/medicine/b_1_1.jpg" title="999感冒灵颗粒" alt="999感冒灵颗粒">
							</div>
							<a class="thumb-video pull-left" href="https://www.youtube.com/watch?v=HhabgvIIXik"><i class="fa fa-youtube-play"></i></a>

							<div id="thumb-slider" class="yt-content-slider full_slider owl-drag"  data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="10" data-items_column0="4" data-items_column1="3" data-items_column2="4"  data-items_column3="1" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
								<a data-index="0" class="img thumbnail " data-image="../static/image/catalog/demo/product/fashion/1.jpg" title="999感冒灵颗粒">
									<img src="../static/image/medicine/b_1_1.jpg" title="999感冒灵颗粒" alt="999感冒灵颗粒">
								</a>
								<a data-index="1" class="img thumbnail " data-image="../static/image/catalog/demo/product/fashion/2.jpg" title="999感冒灵颗粒">
									<img src="../static/image/medicine/b_1_1.jpg" title="999感冒灵颗粒" alt="999感冒灵颗粒">
								</a>
								<a data-index="2" class="img thumbnail " data-image="../static/image/catalog/demo/product/fashion/3.jpg" title="999感冒灵颗粒">
									<img src="../static/image/medicine/b_1_1.jpg" title="999感冒灵颗粒" alt="999感冒灵颗粒">
								</a>
								<a data-index="3" class="img thumbnail " data-image="../static/image/catalog/demo/product/fashion/4.jpg" title="999感冒灵颗粒">
									<img src="../static/image/medicine/b_1_1.jpg" title="999感冒灵颗粒" alt="999感冒灵颗粒">
								</a>
								<a data-index="4" class="img thumbnail " data-image="../static/image/catalog/demo/product/fashion/5.jpg" title="999感冒灵颗粒">
									<img src="../static/image/medicine/b_1_1.jpg" title="999感冒灵颗粒" alt="999感冒灵颗粒">
								</a>
							</div>

						</div>

						<div class="content-product-right col-md-7 col-sm-12 col-xs-12">
							<div class="title-product">
								<h1>999感冒灵颗粒</h1>
							</div>
							<!-- Review ---->
							<div class="box-review form-group">
								<div class="ratings">
									<div class="rating-box">
										<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
										<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
										<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
										<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
										<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
									</div>
								</div>

								</div>

							<div class="product-label form-group">
								<div class="product_page_price price" itemprop="offerDetails" itemscope="" itemtype="http://data-vocabulary.org/Offer">
									<span class="price-new" itemprop="price">$114.00</span>
								</div>
								
							</div>

							<div class="product-box-desc">
								<div class="inner-box-desc">
									<div class="price-tax"><span>组成:</span> 岗梅、三叉苦、金盏银盘、野菊花、薄荷油、咖啡因、马来酸氯苯那敏、对乙酰氨基酚。辅料为滑石粉。</div>
                                    <div class="price-tax"><span>特性:</span> 本品为胶囊剂，内容物为棕褐色的颗粒；味苦。</div>
                                    <div class="price-tax"><span>规格:</span> 10g*9包/盒</div>
                                    <div class="price-tax"><span>功能主治:</span> 解热镇痛。用于感冒引起的头痛，发热，鼻塞，流涕，咽痛。</div>
								</div>
							</div>






								<div class="form-group box-info-product">
									<div class="option quantity">
										<div class="input-group quantity-control" unselectable="on" style="-webkit-user-select: none;">
											<label>Qty</label>
											<input class="form-control" type="text" name="quantity"
											value="1">
											<input type="hidden" name="product_id" value="50">
											<span class="input-group-addon product_quantity_down">−</span>
											<span class="input-group-addon product_quantity_up">+</span>
										</div>
									</div>
									<div class="cart">
										<input type="button" data-toggle="tooltip" title="" value="Add to Cart" data-loading-text="Loading..." id="button-cart" class="btn btn-mega btn-lg" onclick="cart.add('42', '1');" data-original-title="Add to Cart">
									</div>
									<div class="add-to-links wish_comp">
										<ul class="blank list-inline">

										</ul>
									</div>

								</div>

							</div>
							<!-- end box info product -->

						</div>

					</div>
				</div>

				 <script type="text/javascript">
					// Cart add remove functions
					var cart = {
						'add': function(product_id, quantity) {
							parent.addProductNotice('物品加入购物车', '<img src="../static/image/medicine/b_1_1.jpg" alt="">', '<h3><a href="#">999感冒灵"</a> 加入 <a href="#">购物车</a>!</h3>', 'success');
						}
					}

					var wishlist = {
						'add': function(product_id) {
							parent.addProductNotice('Product added to Wishlist', '<img src="../static/image/medicine/b_1_1.jpg" alt="">', '<h3>You must <a href="#">login</a>  to save <a href="#">999感冒灵"</a> 添加到 <a href="#">购物车</a>!</h3>', 'success');
						}
					}
					var compare = {
						'add': function(product_id) {
							parent.addProductNotice('Product added to compare', '<img src="../static/image/medicine/b_1_1.jpg" alt="">', '<h3>Success: You have added <a href="#">999感冒灵"</a> 添加到 <a href="#">product comparison</a>!</h3>', 'success');
						}
					}


				</script>


			 </div>


		 </div>
		 <!--Middle Part End-->
	 </div>
	 <!-- //Main Container -->

 <style type="text/css">
	#wrapper{box-shadow:none;}
	#wrapper > *:not(.main-container){display: none;}
	#content{margin:0}
	.container{width:100%;}

	.product-info .product-view,.left-content-product,.box-info-product{margin:0;}
	.left-content-product .content-product-right .box-info-product .cart input{padding:12px 16px;}

	.left-content-product .content-product-right .box-info-product .add-to-links{ width: auto;  float: none; margin-top: 0px; clear:none; }
	.add-to-links ul li{margin:0;}

</style></div>

 <!-- Include Libs & Plugins
	============================================ -->
 <!-- Placed at the end of the document so the pages load faster -->
 <script type="text/javascript" src="../static/js/jquery-2.2.4.min.js"></script>
 <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
 <script type="text/javascript" src="../static/js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="../static/js/slick-slider/slick.js"></script>
 <script type="text/javascript" src="../static/js/themejs/libs.js"></script>
 <script type="text/javascript" src="../static/js/unveil/jquery.unveil.js"></script>
 <script type="text/javascript" src="../static/js/countdown/jquery.countdown.min.js"></script>
 <script type="text/javascript" src="../static/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
 <script type="text/javascript" src="../static/js/datetimepicker/moment.js"></script>
 <script type="text/javascript" src="../static/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
 <script type="text/javascript" src="../static/js/jquery-ui/jquery-ui.min.js"></script>


 <!-- Theme files
============================================ -->
<script type="text/javascript" src="../static/js/themejs/homepage.js"></script>

 <script type="text/javascript" src="../static/js/themejs/so_megamenu.js"></script>
 <script type="text/javascript" src="../static/js/themejs/addtocart.js"></script>
 <script type="text/javascript" src="../static/js/themejs/application.js"></script>

</body>

</html>
